<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <select id="type" #type class="form-control" style="width: auto" (change)="onSelected(type.value)">
          <option value=""></option>
          <option value="red">red</option>
          <option value="blue">blue</option>
          <option value="silver">silver</option>
          <option value="black">black</option>
        </select>
        <button type="button" (click)="onClick()">Test</button>
      </div>
      <div class="col-md-6">
        Selected type = {{selectedType}}<br>
        Count: {{counter}}
      </div>
    </div>
  </div>
</body>
